body {
    background-color: pink;
}
.graph-container {
    visibility:hidden;
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
    position:relative;
    right:10%;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.table-input  tr {
    height: 40px;
}

.table-input td {
    padding-right: 10px;
}

.table-input td:first-child {
    font-weight: bold;
    text-align: right;
}

.graph-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#legend {
    float:left;
}

#legend > table {
    border: 3px solid green!important;
    background-color: pink;
    font-size: medium !important;
}

.legendColorBox > div > div{
    border-style: solid !important;
    border-width: 7px !important;
}

.legendLabel{
    width: 2px;
}

.legendTitle {
    font-weight: bold;
    font-size: medium;
    padding-right: 1px;
}

.legendInfo {
    padding-left: 2px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto !important;
}
